.funny-glasses {
    position: relative;
    left: 13.5em;
    bottom: 6.7em;
}

.bandana {
    position:absolute;
    top: 11em;
    left: 7em;
}

.pawprint {
    position: fixed;
    top: 3em;
    left: 4.1em;
}

.luna {
    position: absolute;
}
   
.top-hat {
    z-index: 1;
}

